<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>store</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.silin.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern></url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>adminPrivilegeFilter</filter-name>
        <filter-class>com.silin.filter.AdminPrivilegeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adminPrivilegeFilter</filter-name>
        <url-pattern></url-pattern>
    </filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.silin.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.silin.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.silin.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.silin.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeCartServlet</servlet-name>
    <servlet-class>com.silin.servlet.ChangeCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <servlet-class>com.silin.servlet.ShowProductByPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowIndexServlet</servlet-name>
    <servlet-class>com.silin.servlet.ShowIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListProductServlet</servlet-name>
    <servlet-class>com.silin.servlet.ListProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.silin.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <servlet-class>com.silin.servlet.FindProductByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>com.silin.servlet.EditProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.silin.servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.silin.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.silin.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.silin.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>com.silin.servlet.CategoryListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductListByCidServlet</servlet-name>
    <servlet-class>com.silin.servlet.ProductListByCidServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.silin.servlet.ClearCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelProCartFormServlet</servlet-name>
    <servlet-class>com.silin.servlet.DelProCartFormServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>com.silin.servlet.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>com.silin.servlet.MyOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllCategoryServlet</servlet-name>
    <servlet-class>com.silin.servlet.back.FindAllCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.silin.servlet.back.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.silin.servlet.back.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelCategoryServlet</servlet-name>
    <servlet-class>com.silin.servlet.back.DelCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditCategoryServlet</servlet-name>
    <servlet-class>com.silin.servlet.back.EditCategoryServlet</servlet-class>
  </servlet>































  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/servlet/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCartServlet</servlet-name>
    <url-pattern>/servlet/ChangeCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <url-pattern>/servlet/ShowProductByPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowIndexServlet</servlet-name>
    <url-pattern>/servlet/ShowIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListProductServlet</servlet-name>
    <url-pattern>/servlet/ListProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/servlet/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <url-pattern>/servlet/FindProductByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/servlet/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/servlet/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/servlet/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/servlet/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/servlet/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/servlet/CategoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductListByCidServlet</servlet-name>
    <url-pattern>/servlet/ProductListByCidServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/servlet/ClearCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelProCartFormServlet</servlet-name>
    <url-pattern>/servlet/DelProCartFormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/servlet/SubmitOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/servlet/MyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllCategoryServlet</servlet-name>
    <url-pattern>/servlet/FindAllCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/servlet/AdminAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/servlet/AdminProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCategoryServlet</servlet-name>
    <url-pattern>/servlet/DelCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditCategoryServlet</servlet-name>
    <url-pattern>/servlet/EditCategoryServlet</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>EditCategoryByIdServlet</servlet-name>
        <servlet-class>com.silin.servlet.back.EditCategoryByIdServlet</servlet-class>
    </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllOrdersServlet</servlet-name>
    <servlet-class>com.silin.servlet.back.FindAllOrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllCategoryListServlet</servlet-name>
    <servlet-class>com.silin.servlet.back.FindAllCategoryListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.silin.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>com.silin.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminAddCategoryServlet</servlet-name>
    <servlet-class>com.silin.servlet.back.AdminAddCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelProductServlet</servlet-name>
    <servlet-class>com.silin.servlet.back.DelProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminEditProductByIdServlet</servlet-name>
    <servlet-class>com.silin.servlet.back.AdminEditProductByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <servlet-class>com.silin.servlet.back.AdminEditProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.silin.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.silin.servlet.CartServlet</servlet-class>
  </servlet>












    <servlet-mapping>
        <servlet-name>EditCategoryByIdServlet</servlet-name>
        <url-pattern>/servlet/EditCategoryByIdServlet</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllOrdersServlet</servlet-name>
    <url-pattern>/servlet/FindAllOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllCategoryListServlet</servlet-name>
    <url-pattern>/servlet/FindAllCategoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/servlet/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/servlet/CheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddCategoryServlet</servlet-name>
    <url-pattern>/servlet/AdminAddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelProductServlet</servlet-name>
    <url-pattern>/servlet/DelProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminEditProductByIdServlet</servlet-name>
    <url-pattern>/servlet/AdminEditProductByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <url-pattern>/servlet/AdminEditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/servlet/CartServlet</url-pattern>
  </servlet-mapping>
</web-app>